
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
    align-content: space-between;
    margin: 20px auto 0;
   
}
header{
    color: #f3f7f0;
    font-size: xx-large;
    text-align: center;
    background: #a93f55;

}
footer{
    background-color: #a93f55;
    color: #f3f7f0;
    text-align: center;
    height: 36px;
    padding-top: 33px;
    margin-top: 11px;
}
