header{
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    background: rgb(113,86,80);
background: radial-gradient(circle, rgb(12, 5, 3) 25%, rgba(224,5,49,1) 100%);
}
main{
    color:rgb(58, 15, 15);
    text-align: center;
}
footer{
    background-color: rgb(12, 5, 3);
    color: whitesmoke;
    text-align: center;
    height: 50px;
}

select{
    font-size: x-large;
    width: 40%;
}
select:hover{
    color: rgb(250, 243, 243);
    background-color: black;
}
main{
    display: inline-block;
    margin-left:60px ;
    margin-top: 30px;
}
main section{
    float: left;
    width: 400px;
    height: 300px;
    border: double rgb(158, 4, 4);
}